

<footer th:fragment="footerFragment" class="bg-white rounded-lg shadow bottom-0 relative w-100 mx-auto">
    <div class="container p-4 d-flex justify-content-between">
        <span class="text-sm text-gray-500 text-center dark-text-gray-400">© 2023 <a href="/" class="text-decoration-none">우주™</a>. All Rights Reserved.</span>
        <ul class="d-flex flex-wrap list-unstyled mt-3 text-sm font-medium text-gray-500 dark-text-gray-400 mt-sm-0">
            <li class="me-4 me-md-6">
                <a href="#" class="text-decoration-none">About</a>
            </li>
            <li class="me-4 me-md-6">
                <a href="#" class="text-decoration-none">Privacy Policy</a>
            </li>
            <li class="me-4 me-md-6">
                <a href="#" class="text-decoration-none">Licensing</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none">Contact</a>
            </li>
        </ul>
    </div>
</footer>
